#dropdown__icon:hover+.user__profile__dropdown__menu {
    display: block;
}

.user__profile__dropdown__menu {
    position: absolute;
    top: 25px;
    left: 5px;
    padding: 25px 0;
    background: $primary-color;
    opacity: 0.94;
    box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    display: none;
    &:hover {
        display: block;
    }
    &__list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-items: center;
        width: 175px;
        &__item {
            position: relative;
            display: block;
            padding: 10px 0 10px 45px;
            font: 600 16px/20px OpenSans;
            color: $primary-font-color;
            &:hover {
                background: #ECF1F8;
            }
        }
    }
}

.icon {
    position: relative;
    &__report {
        &::before {
            position: absolute;
            content: '';
            top: 12px;
            left: 12px;
            width: 32px;
            height: 32px;
            background: url('../img/icon_report.svg') no-repeat;
        }
    }
    &__block {
        &::before {
            position: absolute;
            content: '';
            top: 10px;
            left: 12px;
            width: 32px;
            height: 32px;
            background: url('../img/icon_block.svg') no-repeat;
        }
    }
}